@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 100%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner starts */
#banner .wrapper {
  height: 125vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8bb6eb, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8bb6eb, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.banner-content {
  width: 90%;
  margin: 0 0 50px 30px;
  justify-self: end;
  align-self: center;
  color: white;
}
.banner-content h1 {
  font-size: 34px;
  letter-spacing: .5px;
}
.banner-content p {
  padding: 20px 0;
  font-size: 24px;
  letter-spacing: .5px;
  line-height: 40px;
}
.banner-content p a {
  color: white;
  text-decoration: underline;
}
.banner-content > a {
  padding: 14px 20px;
  background-color: #2779D6;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}
.banner-content > a i {
  margin-right: 5px;
}
.banner-image {
  padding-top: 150px;
  justify-self: start;
  align-self: end;
  position: relative;
}
.banner-image figure {
  width: 100%;
}
.banner-image figure img {
  box-shadow: 0px 0px 30px -8px #666;
}
.banner-image figure:nth-of-type(2) {
  position: absolute;
  top: 28%;
  left: 47%;
}
/* banner ends */
/* shop section starts */
#shop {
  background: transparent;
  margin-top: 280px;
}
#shop .wrapper {
  width: 90%;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #D5D8DB;
}
#shop .wrapper figure {
  width: 65%;
}
#shop .wrapper figure img {
  width: 100%;
  box-shadow: 0px 0px 30px -8px #666;
}
.shop-content {
  align-self: center;
}
.shop-content h2 {
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: .5px;
  position: relative;
}
.shop-content h2::after {
  content: '';
  width: 35px;
  position: absolute;
  bottom: -50%;
  left: 0;
  border-bottom: 2px solid #2779D6;
}
.shop-content p {
  letter-spacing: .2px;
  line-height: 29px;
  font-size: 17px;
  color: #666;
}
/* shop section ends */
/* group section starts */
#group {
  background: transparent;
  margin-top: 170px;
}
#group .wrapper {
  width: 90%;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #D5D8DB;
}
#group .wrapper figure {
  width: 65%;
  justify-self: end;
}
#group .wrapper figure img {
  width: 100%;
  box-shadow: 0px 0px 30px -8px #666;
}
.group-content {
  align-self: center;
}
.group-content h2 {
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: .5px;
  position: relative;
}
.group-content h2::after {
  content: '';
  width: 35px;
  position: absolute;
  bottom: -50%;
  left: 0;
  border-bottom: 2px solid #2779D6;
}
.group-content p {
  letter-spacing: .2px;
  line-height: 29px;
  font-size: 17px;
  color: #666;
}
/* overview section ends */
#overview {
  background: transparent;
  margin-top: 180px;
}
#overview .wrapper {
  width: 90%;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#overview .wrapper figure {
  width: 65%;
}
#overview .wrapper figure img {
  width: 100%;
  box-shadow: 0px 0px 30px -8px #666;
}
.overview-content {
  align-self: center;
}
.overview-content h2 {
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: .5px;
  position: relative;
}
.overview-content h2::after {
  content: '';
  width: 35px;
  position: absolute;
  bottom: -50%;
  left: 0;
  border-bottom: 2px solid #2779D6;
}
.overview-content p {
  letter-spacing: .2px;
  line-height: 29px;
  font-size: 17px;
  color: #666;
}
/* overview section starts */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  